/*
HTML
 */
html, body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*
Header and Footer
 */
header, footer {
    background-color: #0A9830;
    padding: 15px 10px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 .nav-item .nav-link {
    color: #043e13;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 .nav-item .nav-link.active {
    color: #0A9830;
    font-weight: bold;
    text-decoration: underline;
}

/*
General Content
 */
.page-title{
    font-family: "Times New Roman", serif;
    margin: 10px;
    font-size: 75px;
    color: #0A9830;
}

.container {
    padding-top: 165px;
    padding-bottom: 120px;
}


/*
Content
 */

.form-group {
    margin-bottom: 20px;
}

.form-control-label {
    font-weight: bold;
}

.form-control {
    border-radius: 0;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: none;
}

.form-control-lg {
    height: 50px;
}

.form-submit-button {
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
}

.form-submit-button:hover {
    background-color: #27ae60;
    cursor: pointer;
}


.buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 250px;
  background-color: #0A9830;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  margin: auto; /* Center horizontally */
    top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    margin-top: 50px;
    margin-bottom: 50px;

}

.buttons img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.buttons span {
  font-size: 30px;
  color: white;
  transition: color 0.3s ease;
}

.buttons:hover img {
  transform: scale(1.1);
}

.buttons:hover span {
  color: #ffff00;
}

