/*
HTML
 */

/*
Header
 */



/*
Footer
 */
header,footer {
    background-color: #0A9830;
    padding-bottom: 10px;
    color: white;
}



/*
Content
 */
.form-group {
  margin-bottom: 20px;
}

.form-control-label {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
  border: 2px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: none;
}

.form-control-lg {
  height: 50px;
}

