{% extends "layout.html" %}

{% block title %}
    GrabLocator | Login/Signup
{% endblock %}

{% block headerblock %}
    <div class="row align-items-center">
        <div class="col">
            <div class="d-flex">
                <a href="#">
                    <img src="{{ url_for('static', filename='logo.jpg') }}" alt="GrabLocator Logo">
                </a>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Main Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Map</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Your History</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block contentblock %}
    <h1>
        Welcome to GrabLocator
    </h1>
{% endblock %}

{% block footerblock %}
{% endblock %}