{% extends "layout.html" %}

{% block title %}
    GrabLocator | Login
{% endblock %}

{% block contentblock %}
    <h1 class="name">
        Welcome to GrabLocator
    </h1>
    <div class="row">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.driver_id.label(class="form-control-label") }}
                {{ form.driver_id(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.driver_password.label(class="form-control-label") }}
                {{ form.driver_password(class="form-control form-control-lg") }}
            </div>
            <p>        Have yet to register? Click <a href="{{ url_for('login') }}">here</a> to register now!</p>

            {% if form.errors %}
                <ul class="errors">
                    {% for field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <li>{{ field }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

            {{ form.form_submit() }}
        </form>
    </div>
{#    <div class="row">#}
{#    <p>        Have yet to register? Click <a href="{{ url_for('login') }}">here</a> to register now!</p>#}
{#    </div>#}
{% endblock %}