{% extends "layout.html" %}

{% block title %}
    GrabLocator | Orders
{% endblock %}

{% block navmenublockheader %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Main Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('history') }}">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
                <a href="{{ url_for('logout') }}">LOGOUT</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block contentblock %}
    <h1 class="page-title">
        Your Orders
    </h1>
    <h2>
        Available Orders
    </h2>
    {% if available_orders %}
        <ul style="list-style-type:none;" class="available-graborder-list">
            {% for available_order in available_orders %}
                <li>
                    <button type="button" class="available-graborder-order" onclick="redirectTo('/selectedorder/{{ available_order[0] }}')">
                        {{ available_order[0] }}
                        <div class="row">
                            <div class="col">
                                From
                                <ul>
                                    <li>
                                        Block Number: {{ available_order[1] }}
                                    </li>
                                    <li>
                                        Unit Number: {{ available_order[2] }}
                                    </li>
                                    <li>
                                        Street: {{ available_order[3] }}
                                    </li>
                                    <li>
                                        Postal Code: {{ available_order[4] }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                To
                                <ul>
                                    <li>
                                        Block Number: {{ available_order[5] }}
                                    </li>
                                    <li>
                                        Unit Number: {{ available_order[6] }}
                                    </li>
                                    <li>
                                        Street: {{ available_order[7] }}
                                    </li>
                                    <li>
                                        Postal Code: {{ available_order[8] }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No orders available.</p>
    {% endif %}
    <h2>
        Pending Orders
    </h2>
    {% if pending_orders %}
        <ul style="list-style-type:none;" class="pending-graborder-list">
            {% for pending_order in pending_orders %}
                <li>
                    <button type="button" class="pending-graborder-order" onclick="redirectTo('/selectedorder/{{ pending_order[0] }}')">
                        {{ pending_order[0] }}
                        <div class="row">
                            <div class="col">
                                From
                                <ul>
                                    <li>
                                        Block Number: {{ pending_order[1] }}
                                    </li>
                                    <li>
                                        Unit Number: {{ pending_order[2] }}
                                    </li>
                                    <li>
                                        Street: {{ pending_order[3] }}
                                    </li>
                                    <li>
                                        Postal Code: {{ pending_order[4] }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col">
                                To
                                <ul>
                                    <li>
                                        Block Number: {{ pending_order[5] }}
                                    </li>
                                    <li>
                                        Unit Number: {{ pending_order[6] }}
                                    </li>
                                    <li>
                                        Street: {{ pending_order[7] }}
                                    </li>
                                    <li>
                                        Postal Code: {{ pending_order[8] }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </button>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No orders pending.</p>
    {% endif %}

{% endblock %}

{% block navmenublockfooter %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Main Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('history') }}">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
                <a href="{{ url_for('logout') }}">LOGOUT</a>
            </div>
        </div>
    </nav>
{% endblock %}