{% extends "layout.html" %}

{% block title %}
    GrabLocator | Order {{ order_id }}
{% endblock %}

{% block contentblock %}
    <h1 class="page-title">
        Order {{ order_id }}
    </h1>
    <div class="row">
        <h2>
            Order Details
        </h2>
        <div class="col">
            <h3>
                From
            </h3>
            <p>
                {{ pickup_destination_address_string }}
            </p>
        </div>
        <div class="col">
            <h3>
                To
            </h3>
            <p>
                {{ final_destination_address_string }}
            </p>
        </div>
    </div>
    <div class="row">
        <h2>
            Stopping Point
        </h2>
        <p>
            Address to go to: {{ stopping_point_address }}
        </p>
        {% if is_pending %}
            <div class="col">
                <button class="finish-button">
                    Finish
                </button>
            </div>
            <div class="col">
                <button class="cancel-button">
                    Cancel
                </button>
            </div>
        {% else %}
            <div class="col">
                <button class="start-button" onclick="redirectTo('/startorder/{{ order_id }}')">
                    Start
                </button>
            </div>
        {% endif %}
        <div class="col">
            <button class="return-button" onclick="redirectTo('/orders')">
                Return to Orders
            </button>
        </div>

    </div>
{% endblock %}
